section {
  margin-bottom: 3rem;
}

.is-flex {
  display: flex;
}

.is-flex-center {
  align-items: center;
  justify-content: center;
}

.is-flex-grow-1 {
  flex-grow: 1;
}

.is-flex-center-center {
  align-items: center;
  justify-content: center;
}

.radio-items {
  margin-top: 1rem;
  font-size: larger;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

@media (max-width: 480px) {
  .hide-mobile {
    display: none;
  }

  .nes-balloon {
    font-size: x-small;
  }
}
