<script>
  // @ts-ignore
  import * as pkgjson from "../../package.json";
  let version = pkgjson.version;
</script>

<footer>
  <p>
    <span>© 2022</span>
    <a href="https://boleary.dev/" target="_blank" rel="noopener">
      Brendan O'Leary
    </a>
    <span>
      <i class="nes-icon coin is-small" />
    </span>
    <span>
      v{version}
    </span>
    <span>
      <i class="nes-icon coin is-small" />
    </span>
    <a href="https://twitter.com/olearycrew" target="_blank" rel="noopener">
      @olearycrew
    </a>
    <span>
      <i class="nes-icon coin is-small" />
    </span>
    <a href="https://twitter.com/olearycrew" target="_blank" rel="noopener">
      Source Code
    </a>
  </p>
</footer>

<style>
  footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
