<header>
  <div class="container">
    <div class="nav-brand">
      <h1>Hurricane or Na?</h1>
      <p>Lin-Manuel Miranda's love of hurricanes</p>
    </div>
    <div>
      <a href="https://twitter.com/olearycrew" target="_blank" rel="noopener">
        <i class="nes-icon twitter" />
      </a>
    </div>
  </div>
</header>

<style>
  header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 4px solid #d3d3d3;
    background-color: white;
    padding: 0 2rem;
  }

  header > .container {
    display: flex;
    align-items: baseline;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 1rem;
    transition: all 0.2s ease;
  }

  header > .container > .nav-brand {
    margin-right: auto;
  }
</style>
