<script>
  import { game } from "../stores";
  import { questions } from "../stores/questions";

  export let isEnded;
  let progress;
  let score;
  let max = questions.length;
  let value, results;
  game.results.subscribe((val) => {
    results = val;
    progress = val.progress;
    value = progress / max;
    score = val.correct / max;
  });
</script>

<section class="nes-container with-title">
  <h3 class="title"><i class="nes-icon trophy is-small" /> Progress</h3>

  <div class="is-flex is-flex-center-center">
    <div class="nes-badge is-splited" style="margin-right: 2rem;">
      <span class="is-dark">✅</span>
      <span class="is-success">{results.correct}</span>
    </div>

    <div class="nes-badge is-splited">
      <span class="is-dark">❌</span>
      <span class="is-success">{results.incorrect}</span>
    </div>
  </div>

  {#if isEnded}
    {#if score > 0.8}
      <div class="nes-container is-rounded is-dark">
        <p>Great job! Man you are NON-STOP.</p>
      </div>
      <section class="icon-list is-flex is-flex-center-center mt-2">
        <!-- heart -->
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart" />
      </section>
    {:else if score > 0.6}
      <div class="nes-container is-rounded is-dark">
        <p>Not bad! History has its eyes on you.</p>
      </div>
      <section class="icon-list is-flex is-flex-center-center mt-2">
        <!-- heart -->
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart is-transparent" />
      </section>
    {:else if score > 0.4}
      <div class="nes-container is-rounded is-dark">
        <p>
          Hmmm. Maybe the pressure, like a drip, drip, drip that'll never stop,
          got to you.
        </p>
      </div>
      <section class="icon-list is-flex is-flex-center-center mt-2">
        <!-- heart -->
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large is-transparent heart" />
        <i class="nes-icon is-large heart is-transparent" />
      </section>
    {:else}
      <div class="nes-container is-rounded is-dark">
        <p>It's okay. You're still a part of the family madrigal.</p>
      </div>
      <section class="icon-list is-flex is-flex-center-center mt-2">
        <!-- heart -->
        <i class="nes-icon is-large heart" />
        <i class="nes-icon is-large is-half heart" />
        <i class="nes-icon is-large is-transparent heart" />
        <i class="nes-icon is-large heart is-transparent" />
      </section>
    {/if}
  {:else}
    <progress class="nes-progress is-primary" {value} max="1" />
  {/if}
</section>
