<section>
  <h2><i class="snes-logo" /> About</h2>
  <p>
    I love Lin-Manuel Miranda. He is not only a great writer, but he also
    represents all of us who love musical theater. The ultimate fanboy, he acts
    just like I would around Broadway royalty. But there is one thing about him:
    he loves using hurricane imagery in his songs.
  </p>
</section>
