<script>
  import { fade } from "svelte/transition";

  import { game } from "./stores";
  import { questions } from "./stores/questions";
  import * as gameHandler from "./lib/game";

  import Header from "./components/Header.svelte";
  import Footer from "./components/Footer.svelte";
  import Game from "./Game.svelte";
  import Progress from "./components/Progress.svelte";
  import About from "./About.svelte";

  let isStarted;
  let isEnded = false;

  let max = questions.length;
  let progress, value;
  game.results.subscribe((val) => {
    progress = val.progress;
    value = progress / max;
    isEnded = value === 1;
  });

  game.currQuestion.subscribe((val) => {
    isStarted = val > -1 ? true : false;
  });

  function startGame() {
    gameHandler.startGame();
  }
</script>

<Header />

<main>
  <section>
    <h2><i class="nes-logo" /> Welcome</h2>
    <p>
      How well do you know Lin's songs? Do you know which ones have a hidden
      hurricane reference? Find out with this fun quiz!
    </p>
  </section>

  {#if isStarted && !isEnded}
    <div in:fade={{ delay: 500 }}>
      <Game />

      <Progress isEnded={false} />
    </div>
  {:else if isEnded}
    <div transition:fade={{ delay: 500 }}>
      <Progress isEnded={true} />
    </div>
  {:else}
    <section class="nes-container is-rounded mb-3" transition:fade>
      <p>Ready to start the game?</p>
      <div class="is-flex is-flex-center-center">
        <button type="button" class="nes-btn is-primary" on:click={startGame}>
          Start Game
        </button>
      </div>
    </section>
  {/if}

  <About />
</main>

<Footer />

<style>
  main {
    /* top | right | bottom | left */
    margin: 60px auto 60px auto;
    max-width: 980px;
  }

  @media (max-width: 480px) {
    main {
      margin: 60px 20px 60px 20px;
    }
  }
</style>
