<script>
  import { game } from "./stores";
  import * as gameHandler from "./lib/game";

  import Correct from "./components/Correct.svelte";
  import Incorrect from "./components/Incorrect.svelte";

  import { fade, blur, scale } from "svelte/transition";

  let selAnswer = "";
  let result = "";

  function checkAnswer() {
    const answerB = selAnswer === "yes" ? true : false;
    const rBool = thisGameQuestions[currQuestion].hurricane === answerB;
    result = rBool ? "correct" : "incorrect";
    if (result === "correct") {
      currResults.correct = currResults.correct + 1;
    } else {
      currResults.incorrect = currResults.incorrect + 1;
    }
    currResults.progress = currResults.progress + 1;
    game.results.set(currResults);
  }

  function nextQuestion() {
    result = "";
    selAnswer = "";
    game.currQuestion.set(currQuestion + 1);
  }

  let thisGameQuestions = [];
  game.questions.subscribe((val) => (thisGameQuestions = val));
  let currQuestion = -1;
  game.currQuestion.subscribe((val) => (currQuestion = val));
  let currResults = game.startingResults;
  game.results.subscribe((val) => (currResults = val));
</script>

<section class="nes-container with-title">
  <h3 class="title">
    <i class="nes-icon is-small star" /> Game
  </h3>

  <span class="nes-badge">
    <span class="is-primary">
      {thisGameQuestions[currQuestion].album}
    </span>
  </span>

  <h3 class="mt-1">
    "{thisGameQuestions[currQuestion].song}"
  </h3>

  <div id="radios" class="item radio-items mt-2">
    <label>
      <input
        type="radio"
        class="nes-radio"
        name="answer"
        value="yes"
        bind:group={selAnswer}
      />
      <span>Yes</span>
    </label>

    <label>
      <input
        type="radio"
        class="nes-radio"
        name="answer"
        value="no"
        bind:group={selAnswer}
      />
      <span>No</span>
    </label>
  </div>

  {#if !result}
    <div class="is-flex is-flex-center" in:blur>
      <button
        type="button"
        class="nes-btn is-success"
        class:is-disabled={selAnswer === ""}
        on:click={checkAnswer}
      >
        Go!
      </button>
    </div>
  {:else if result === "correct"}
    <div class="is-flex is-flex-center-center mt-1" out:scale in:fade>
      <Correct />
    </div>
  {:else if result === "incorrect"}
    <div class="is-flex is-flex-center-center mt-1" out:scale in:fade>
      <Incorrect />
    </div>
  {/if}

  {#if result}
    {#if thisGameQuestions[currQuestion].line}
      <section class="mt-1 is-flex is-flex-center-center">
        <p class="nes-balloon from-left nes-pointer">
          "{@html thisGameQuestions[currQuestion].line}"
        </p>
      </section>
    {/if}
    <div class="is-flex is-flex-center mt-1" out:blur>
      <button type="button" class="nes-btn is-primary" on:click={nextQuestion}>
        Next
      </button>
    </div>
  {/if}
</section>
